.igs-header {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  line-height: 60px;
  background-color: brown;
  position: fixed;
}

.igs-menu {
  float: right;
  margin-right: 20px;
}
  .igs-menu a {
    margin-right: 30px ;
    color: rgba(252, 119, 10, 0.61);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(194, 11, 11);
}